html, body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-size: 15px;
	font-family: Arial, Arial, Helvetica, sans-serif;
}
a {
	color: #036;
}
h1 {
	padding: 0;
	margin: 60px auto;
	width: 400px;
	height: 280px;
	overflow: hidden;
	text-indent: -500px;
	background: url(../images/logo.png) no-repeat center center;
}
.foot {
	border-top: 1px solid #ccc;
	margin: 20px auto;
	width: 600px;
	padding: 10px;
	clear: both;
	display: block;
}
.foot li {
	margin: 0;
	padding: 0;
}
.copyright {
	display: inline;
}
.email {
	float: right;
	display: block;
}