html, body {
	margin: 0;
	padding: 0;
	background: #eee;
	font-size: 15px;
	font-family: Arial, Arial, Helvetica, sans-serif;
}
a {
	color: #036;
}
.logo {
	margin: 60px auto;
	width: 400px;
	height: 280px;
	text-align: center;
	background: url(../images/logo.png) no-repeat center center;
}
.foot {
	border-top: 1px solid #ccc;
	margin: 20px auto;
	width: 600px;
	padding: 10px;
	clear: both;
}
.email {
	float: right;
}